<!DOCTYPE html>
<html lang="en">
    
    <head>
        <title>Create a Poll</title>
        <meta name="viewport" content="width=device-width">
        <meta name="description" content="Create and share straw polls">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link rel="stylesheet" href="/resources/css/common.css" type="text/css" />
        <link rel="stylesheet" href="/resources/css/app/create-poll.css">
        <link rel="alternate" media="handheld" href="#">
    </head>
    
    <body ng-app="createApp">
        
        <header>
            <nav ng-controller="navController" class="navbar navbar-inverse navbar-fixed-top" ng-cloak>
                <div class="collapse navbar-collapse" id="main-navbar">
                    <ul class="nav navbar-nav">
                        <li><a href="/">Home</a></li>
                        <li><a href="/create" ng-show="isLoggedIn()">Create a Poll</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <div class="login-btn sign-in" ng-hide="isLoggedIn()">
                            <a href="/auth/github" class="btn btn-default" role="button">Login</a></a>
                        </div>
                        <div class="user-info sign-in" ng-show="isLoggedIn()">
                            <a href="/profile" class="btn btn-link" ng-model="displayName">{{ displayName }}</a>
                            <a href="/logout" class="btn btn-link">Logout</a>
                        </div>
                    </ul>
                </div>
            </nav>
        </header>
        
        <div ng-controller="pollCreateController">
            <div class="title-block">
    		    <fieldset>
            		<input class="title-input" type="text" ng-model="title" placeholder="title option">
            	</fieldset>
        	</div>
        	<div class="choices-block">
        		<fieldset  data-ng-repeat="choice in choices">
        			<input class="choice-input" type="text" ng-model="choice.text" placeholder="Poll option">
        			<button class="remove" ng-hide="$first" ng-click="removeChoice()">-</button>
        		</fieldset>
        		<button class="addfields btn btn-info" ng-click="addNewChoice()" ng-show="canAdd()">Add options</button>
        	</div>
        	<button class="btn btn-primary btn-lg final-submit" ng-click="submitNewPoll(title, choices)">Submit</button>
        </div>
        
    </body>
    
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular.min.js"></script>
    <script src="/resources/controllers/app/pollCreateController.js"></script>
    
</html>